// Page Container
.ui.container {
    margin: 25px 100px !important;

    @media (max-width: 800px) {
        margin: 25px 50px !important;
    }

    @media (max-width: 450px) {
        margin: 25px 25px !important;
    }
}

// Form inputs
.ui.form {
    input:not([type]), input[type=text] {
        width: 350px;

        &:focus {
            border: 1px solid black;
        }

        @media (max-width: 450px) {
            width: 250px;
        }
    }
}

// Error message
.error {
  color: black;
  font-weight: 700;
  margin: 10px 0;
}

// Form buttons
.ui.button {
    background: none;
    width: 90px;
    padding: 12px;
    position: relative;
    border: 1px solid black;

    &.display-none, &.display-none:hover, &.display-none:focus {
        opacity: 0;
        height: 40px;
        cursor: unset;

        @media (max-width: 800px) {
            height: 36px;
        }

        @media (max-width: 650px) {
            height: 30px;
        }

        @media (max-width: 450px) {
            height: 24px;
        }
    }

    &.follow {
        color: orange;
        border: 1px solid orange;

        &:hover {
            background: orange;
            color: white;
        }

        &:focus {
            background: orange;
            color: white;
            opacity: .7;
        }
    };

    &.following {
        color: green;
        border: 1px solid green;

        &:hover {
            background: white;
            border: 1px solid red;
        }

        &:focus {
            background: white;
            color: green;
            opacity: .7;
        }

        // Hover Change Text Effect
        & span {
            transition: .2s;
        }

        //TODO - Code Styling
        &:before, &:after {
            position: absolute;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: .2s;
        }

        &:before {
            content: attr(data-hover);
        }

        &:after {
            content: attr(data-active);
        }

        &:hover span, &:active span {
            opacity: 0;
        }

        &:hover:before, &:active:after {
            opacity: 1;
            transition-delay: .1s;
            color: red;
        }
    }

    @media (max-width: 800px) {
        padding: 10px;
    }

    @media (max-width: 650px) {
        width: 80px;
        padding: 7px;
    }

    @media (max-width: 450px) {
        width: 75px;
        padding: 4px;
    }

    &:hover {
        background: black;
        color: white;
    }

    &:focus {
        background: black;
        color: white;
        opacity: .7;
    }
}

// Users list
.ui.celled.list>.item {
    border-top: none;
    padding: 8px 0;
    display: flex;

    &.title {
        font-weight: 700;
    }

    &:first-child {
        padding: 8px 0;
    }

    &:last-child {
        border-bottom: none;
        padding: 8px 0;
    }

    &>.content{
        width: 250px;
        text-align: center;
        font-size: 18px;

        &.name {
            text-align: unset !important;
        }

        @media (max-width: 650px) {
            font-size: 14px;
        }

        @media (max-width: 450px) {
            font-size: 12px;
        }
    }

    i {
        margin: 3px 8px 0 0;

        @media (max-width: 650px) {
            margin: 1.5px 8px 0 0;
        }

        @media (max-width: 450px) {
            margin: .5px 8px 0 0;
        }

        &.display-none {
            opacity: 0;
        }
    }
}


// Navbar
.ui.menu:not(.vertical) .right.menu {
    margin-right: auto;
    font-size: 18px;

    @media (max-width: 450px) {
        font-size: 14px;
    }
}

// Navbar
.ui.secondary.pointing.menu {
    border-bottom: none;

    a.item:hover {
        border-color: #1b1c1d;
        font-weight: 700;
        opacity: 1;
    }

    div.item {
        font-weight: 700;
    }

    .item {
        margin: 0 20px;
        padding: 15px 0;

        @media (max-width: 450px) {
            margin: 0 12px;
        }

        // Alpha Logo
        img {
            height: 33px;
            width: 33px;
        }

        &.img-item {
            padding: 8px 0 !important;

            &:hover {
                border-color: white;
                opacity: .6;
            }
        }
    }
}